
<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td><label for="orderDate">Order Date:</label></td>
      <td><input type="date" id="orderDate" formControlName="orderDate" required></td>
    </tr>
    <tr>
      <td><label for="userId">User:</label></td>
      <td>
        <select id="userId" formControlName="userId" required>
          <option value="">-- Select User --</option>
          <option *ngFor="let user of users" [value]="user.id">{{user.username}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label for="productIds">Products:</label></td>
      <td>
        <select multiple id="productIds" formControlName="productIds" required>
          <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
        </select>
      </td>
    </tr>
  </table>

  <button type="submit" [disabled]="!orderForm.valid">Xác nhận</button>
</form>
