
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <table border="1" style="border-collapse: collapse;">
    <tr>
      <th><label>
        Name:
        <br>

      </label></th>
      <td>
        <input type="text" formControlName="username">
      </td>
    </tr>
    <tr>
      <th>
        <label>
          password
          <br>

        </label>
      </th>
      <td><input type="password" formControlName="password"></td>
    </tr>
    <tr>
      <th><label>
        Email
        <br>

      </label></th>
      <td><input type="text" formControlName="email"></td>
    </tr>
    <tr><button type="submit" [disabled]="!userForm.valid">Dang Ky</button></tr>
  </table>
<br>
 <br>
</form>
